<nav class="navbar fixed-top-custom navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">CNustes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/customer" routerLinkActive="active">Cliente</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/order" routerLinkActive="active">Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/supplier" routerLinkActive="active">Proveedor</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Usuario
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/logout">Logout</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>